.header{
    width: 100%;
}
.header--search{
    margin: auto;
    margin: 16px;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
}
.header--meny{
    justify-content: center;
    width: 146px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.filmsapp__films{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.films__items{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 3000px;
}
@media (min-width: 1400px) {

}

.film-item{
    box-shadow: 5px 5px 20px #00000026;
    max-width: 490px;
    max-height: 274px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.film-item--info{
    width: 340px;
    height: 274px;
    margin-left: 10px;
    margin-right: 10px;
    max-height: 279px;
    overflow: hidden;
}
.info{
    position:relative;
    display: flex;
    flex-direction: column;
}
.info__title{
    margin-right: 30px;
    max-height: 56px;
    flex-shrink: 0;
}
.info--description{
    flex-shrink: 2;
    margin-top: 1em;
    margin-bottom: 40px;
    overflow: hidden;
    flex-grow: 1;
}
.info--description:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 35px;
    width: 100%;
    height: 40px;
    background: linear-gradient(180deg, transparent, #ffffff 50%);
}

.info--rate-star{
    position:absolute;
    bottom:8px;
}
.info--rate-icon{
    display: flex;
    justify-content:center;
    position: absolute;
    top: 2%;
    right: 1%;
    width: 30px;
    height: 30px;
    border: 2px solid #E9D100;
    border-radius: 16px;
}
.info--rate-icon span{
    padding-top: 3px;
}

.ant-rate-star{
    margin-right: 4px;
}

.info--genres{
    flex-shrink: 0;
    padding: 1px;
    margin: 1px;
    flex-grow: 0;
    max-height: 3em;
    overflow: hidden;
}
.films__pagination {
    margin: 16px;
    display: flex;
    justify-content: center;
}

.ant-select-show-search{
    display: none;
}